body {
  margin: 0;
  margin-top: 100px;
  margin-left: 25px;
  padding: 0;
  font-family: sans-serif;
  font-family: 'Work Sans', sans-sans-serif;
  font-weight: 400;
  height: 3000px;
  min-width: 1175px;
  min-height: 3000px;
  overflow: scroll;
}

.logo {
  float: left;
  position: relative;
  top: 10px;
  left: 15px;
}

/*Header and Footer management*/

#footer,
#header {
  flex: 0 0 auto;
  margin: 10 auto;
}

/*Header styles*/

#header {
  background: darkgray;
  position:fixed;
  left:0px;
  top:0px;
  height: 80px;
  width:100%;
}

nav.menu {
  float: right;
}

nav.menu ul {
  margin: 0;
  padding-right: 30px;
  padding-top: 10px;
  list-style: none;
}

nav.menu li {
  display: inline-block;
  padding-top: 20px;
  padding-right: 25px;
  position: relative;
  right: 20px;
  top: 10px;
}

nav.menu a {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}

nav.menu a:hover {
  color: #000;
}

nav.menu a::before {
  content:'';
  display: block;
  height: 5px;
  width: 100%;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav.menu a:hover::before {
  width: 100%
}

/* Footer styles */

#footer {
  background: #ffd966;
  position:fixed;
  left:0px;
  bottom:0px;
  height: 50px;
  width:100%;
}

#footer nav {
  float: right;
  padding-right: 15px;
}

#footer nav ul {
  list-style: none;
}

#footer nav a {
  text-decoration:none;
}

#footer nav li {
  display: inline-block;
  position: relative;
  margin-right: 15px;
  bottom: 5px;
}

/* File selection button styles */

input[type="file"]::file-selector-button:hover {
  cursor: pointer;
}

/* Button styles */

button:hover {
  cursor: pointer;
}

/* Login and register pages styles*/

#avatar {
  width: 30%;
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 0;
}

#loginback {
  background-image: url(../images/site_background.png);
  height: auto;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-size: cover;
}

/* Login box styles */

#loginbox {
  width: 320px;
  height: 420px;
  background: #000;
  color: white;
  align-items:center;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#loginbox h1 {
  margin-top: 80px;
  margin-left: 0;
}

#loginbox form {
  padding: 28px;
  padding-top: 0;
}

#loginbox label {
  font-weight: bold;
  margin: 0;
}

#loginbox input {
  width: 100%;
  margin-bottom: 20px;
}

#loginbox input[type="text"], input[type="password"] {
  border: none;
  border-bottom: 1px solid grey;
  background: transparent;
  outline: none;
  height: 40px;
  width: 262px;
  color: #fff;
  font: 16px;
}
#loginbox input[type="submit"] {
  border: none;
  outline: none;
  position: relative;
  background: white;
  color: black;
  font-size: 18px;
  border-radius: 20px;
  height: 2rem;
}

#loginbox input[type="submit"]:hover {
  cursor:pointer;
  background: #ffc107;
  color: #000;
}

#loginbox a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  position: relative;
  bottom: 10px;
  color: darkgrey;
}

#loginbox a:hover {
  color: #ffc107;
}

/* Register box styles */

#registerbox {
  width: 320px;
  height: 530px;
  background: #000;
  color: white;
  align-items:center;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#registerbox h1 {
  margin-top: 80px;
  margin-left: 0;
}

#registerbox form {
  padding: 28px;
  padding-top: 0;
}

#registerbox label {
  font-weight: bold;
  margin: 0;
}

#registerbox input {
  width: 100%;
  margin-bottom: 20px;
}

#registerbox input[type="text"], input[type="password"] {
  border: none;
  border-bottom: 1px solid grey;
  background: transparent;
  outline: none;
  height: 40px;
  width: 262px;
  color: #fff;
  font: 16px;
}

#registerbox input[type="submit"] {
  border: none;
  outline: none;
  position: relative;
  background: white;
  color: black;
  font-size: 18px;
  border-radius: 20px;
  height: 2rem;
}

#registerbox input[type="submit"]:hover {
  cursor:pointer;
  background: #ffc107;
  color: #000;
}

#registerbox a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  position: relative;
  bottom: 20px;
  color: darkgrey;
}

#registerbox a:hover {
  color: #ffc107;
