<!DOCTYPE html>
<html lang="en">

<head>
  <title>Treble - Sign Up</title>
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,600">
  <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" type="text/css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="{{ url_for('static', filename='js/signup.js') }}"></script>
</head>

<body id="loginback">
  {% include 'header.html' %}
  <div id="registerbox">
    <img src="{{ url_for('static', filename='images/avatar.png') }}" id="avatar">
    <h1><strong>Register</strong></h1>
    <form method="POST" action="">
      {{ form.hidden_tag() }}
      {{ form.username }}
      {{ form.email }}
      {{ form.password }}
      {{ form.confirm_password }}
      {{ form.accept_tos }}
      {{ form.submit }}
    </form>
    <a href="{{ url_for('login') }}">Already have an account? Log in.</a>
  </div>

  {% include 'footer.html' %}
</body>

</html>
